.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

body {
  background: whitesmoke;
  text-align: center;
}

h1,
h2,
div {
  font-family: "Otomanopee One", sans-serif;
  color: maroon;
}

.arenaDragon {
  display: block;
  box-sizing: border-box;
  background-color: whitesmoke;
  margin: 20px auto;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: gold;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  font-family: "Otomanopee One", sans-serif;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}